<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
<title>EditorNutriApp</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="../css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="../css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons --> 
<link rel="stylesheet" href="../css/smoothbox.css" type='text/css' media="all" /> 
<!-- //Custom Theme files --> 

<!-- js -->
<script src="../js/jquery-2.2.3.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- //js -->

<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<!-- //web-fonts -->
</head>

<body> 
	<div class="banner">
		<p style="float: left;margin-top:10px;font-size:1.5em;margin-left:20px;">
			Bienvenido <b>[[${#request.userPrincipal.principal.username}]]</b> 
		</p>
		<form th:action="@{/logout}" method="post" style="font-size:1.5em;margin-left:93%;">
			<input type="submit" style="margin-top:10px;float: left;" value="Cerrar sesión" />					
		</form>		
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1>NutriApp</h1>
				</div> 
				<div class="banner-text w3labout-bnr" > 
						<h2 >Cuenta de administrador</h2>   
				</div>
			</div>
		</div>
		<b th:text="${company}" style="margin-left:20px;color:#000000;font-size:2em;"></b>
	</div>
	<div class="about gallery">
		<div class="container">  
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color:#ffffff;font-size:1.5em;margin-bottom:40px;">
			  	<li class="breadcrumb-item"><a th:href="@{/admin}">Página principal</a></li>
			    <li class="breadcrumb-item active">Registrar nuevo usuario</li>
			  </ol>
			</nav>
			<div role="tabpanel">

				
					<div role="tabpanel" class="tab-pane active" id="seccion1" style="width: 50%;margin: 0 auto;">
						<form th:action="@{/admin/registrar_nuevo_usuario_exito}" th:object="${usuario}" method="post" style="margin-left:35%;">
						
							  <div class="form-group" style="margin-top:25px;">
							    <label for="exampleInputEmail1" >Nombre de usuario*</label>
							    <input type="text" class="form-control" th:field="*{username}" style="margin-top:8px;width:60%;"  placeholder="Introduce nombre de usuario " required>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Contraseña*</label>
							    <div style="display:flex;flex-direction:row;">
							    	<input id="password-field" type="password" required class="form-control" th:field="*{password}" autocomplete="new-password" value="secret" text="" style="width:60%;">
<!-- 							    <input type="text" class="form-control" th:field="*{password}" style="margin-top:8px;width:60%;" placeholder="Introduce contraseña" required> -->
							  		<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" style="margin-top: 10px;margin-left: 10px;"></span>
							    </div>

							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Nombre personal</label>
							    <input type="text" class="form-control" th:field="*{name}"  style="margin-top:8px;width:60%;"  aria-describedby="emailHelp" placeholder="Introduce nombre">
							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Apellidos</label>
							    <input type="tel" class="form-control" th:field="*{surname}"  style="margin-top:8px;width:60%;"  aria-describedby="emailHelp" placeholder="Introduce apellidos">
							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Correo electrónico</label>
							    <input type="tel" class="form-control" th:field="*{email}"  style="margin-top:8px;width:60%;"  aria-describedby="emailHelp" placeholder="Introduce correo electrónico">
							  </div>
							  <div class="form-group">
								    <label for="exampleInputEmail1">Empresa</label>
							    		<select class="form-select" th:field="*{idEmpresa}" aria-label="Default select example" style="margin-top:10px;width:60%;height:34px;">
											<option value="">Escoge una empresa</option>
											<option th:each="company:${listCompanies}"
												th:value="${company.id_empresa}"
												th:text="${company.nombre}"
											/>
										</select>
							  </div>
							  <div class="form-group">
							    	<label for="exampleInputEmail1">Rol*</label>
							    		<select class="form-select" th:field="*{roles}" aria-label="Default select example" style="margin-top:10px;width:60%;height:34px;" required>
											<option selected="true" disabled="disabled" value="">Escoge un rol</option>
											<option th:each="rol:${listRoles}"
												th:value="${rol.id}"
												th:text="${rol.name}"
											/>
										</select>

							    <div style="width:70%;font-size:12px; padding-top:10px;">
								    <small id="emailHelp" class="form-text text-muted" style="font-size:12px;">(*) Campos obligatorios</small>
								  	<br>
								  	<small id="emailHelp" class="form-text text-muted" style="font-size:12px;padding-top:10px;">Todos los tipos de usuarios, excepto administradores deben pertenecer a una empresa</small>	  
							    </div>
								</div>
							  <button type="submit" class="btn btn-primary">Aceptar</button>
						</form>
						<h4 th:inline="text" th:text="${error1}" style="color:red; margin-top:2%;margin-left:35%;"></h4>
						<h4 th:inline="text" th:text="${error2}" style="color:red; margin-top:2%;margin-left:35%;"></h4>
						<h4 th:inline="text" th:text="${error3}" style="color:red; margin-top:2%;margin-left:35%;"></h4>
				</div>
			</div>
		</div>
	</div>
	<!-- //gallery -->  
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="clearfix"> </div>
			<div class="w3agile_footer_copy">
				<p>© 2017 Dine. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts.</a></p>
			</div>
		</div>
	</div>
	<script>
	document.getElementById('sketchpad-post').value = "";
	</script>
	<script>
	$(".toggle-password").click(function() {

		  $(this).toggleClass("fa-eye fa-eye-slash");
		  var input = $($(this).attr("toggle"));
		  if (input.attr("type") == "password") {
		    input.attr("type", "text");
		  } else {
		    input.attr("type", "password");
		  }
		});
	</script>
	<script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 
	<!-- //menu-js -->
	<!-- jarallax -->  
	<script src="js/SmoothScroll.min.js"></script> 
	<script src="js/jarallax.js"></script> 
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>  
	<!-- //jarallax --> 
	<!-- start-smooth-scrolling --> 
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	 
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	</script>
	<script>
    $(document).ready(function(){
        // Open modal on page load
        $("#myModal").modal('show');
        // Close modal on button click
        $(".btn").click(function(){
            $("#modal1").modal('hide');
        });
    });
	</script>
	<script>
	$(function(){
	    $('#orderModal').modal({
	        keyboard: true,
	        backdrop: "static",
	        show:false,

	    }).on('show', function(){ //subscribe to show method
	          var getIdFromRow = $(event.target).closest('tr').data('id'); //get the id from tr
	        //make your ajax call populate items or what even you need
	        $(this).find('#orderDetails').html($('<b> Order Id selected: ' + getIdFromRow  + '</b>'))
	    });
	});
	</script>
	<script>
	var globalModal = $('.global-modal');
    $( ".btn-green-flat-trigger" ).on( "click", function(e) {
      e.preventDefault();
      $( globalModal ).toggleClass('global-modal-show');
    });
    $( ".overlay" ).on( "click", function() {
      $( globalModal ).toggleClass('global-modal-show');
    });
    $( ".global-modal_close" ).on( "click", function() {
      $( globalModal ).toggleClass('global-modal-show');
    });
    $(".mobile-close").on("click", function(){
      $( globalModal ).toggleClass('global-modal-show');
    });
	</script>
	<script>
	$('#myTable').bootstrapTable({
	    onClickRow: function (row, $element) {
	        // row: the record corresponding to the clicked row, 
	        // $element: the tr element.
	        
	        var address = [];
	        $(this).closest('tr').find('td').not(':last').each(function() {
	            var textval = $(this).text(); // this will be the text of each <td>
	           address.push(textval);
	       });
	        alert(address.join('\n'));
	    }
	});
	</script>

	<!-- //smooth-scrolling-of-move-up -->  		
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>