<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
<title>EditorNutriApp</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript">
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet"
	media="all">

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous" />
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet">
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/smoothbox.css" type='text/css'
	media="all" />
<!-- //Custom Theme files -->

<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- //js -->

<!-- web-fonts -->
<link
	href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700"
	rel="stylesheet">
<link
	href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
	<!-- banner -->
	<div class="banner">
		<form th:action="@{/volver_inicio}" method="post" style="font-size:1.5em;margin-left:93%;">
			<input type="submit" style="margin-top:10px;float: left;" value="Volver a inicio" />					
		</form>
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1>NutriApp</h1>

				</div>
				<div class="banner-text w3labout-bnr">
						<h2>Restablecimiento de contraseña</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- gallery -->
	<div class="about gallery">
		<div class="container">
			<div role="tabpanel">
				<form th:action="@{/restablecer_contraseña_exito}"
					th:object="${resetPwdObj}" method="post" style="margin-left: 35%;">

					<div class="form-group" style="margin-top: 25px;">
						<label for="exampleInputEmail1">Nombre de usuario*</label> 
						<input type="text" class="form-control" id="id_cif" th:field="*{username}" style="margin-top: 8px; width: 40%;"aria-describedby="emailHelp" placeholder="Introduce el nombre de usuario " required>
					</div>
					<div class="form-group" style="display: flex;flex-direction: column;margin-top: 8px; ">
						<label for="exampleInputEmail1">Contraseña*</label>
						<div style="display:flex; flex-direction:row;">
							<input type="password" id="password-field" name="passwordOri"  th:field="*{pwd}"  placeholder="Introduce contraseña" required autocomplete="new-password" style="height:34px;width: 40%;margin-top:8px;">
							<i class="bi bi-eye-slash" id="togglePasswordOri" style="padding:15px;"></i>
						</div>
					</div>
					<div class="form-group" style="display: flex;flex-direction: column;margin-top: 8px; ">
						<label for="exampleInputEmail1">Repite contraseña* </label>
						<div style="display:flex; flex-direction:row;">
							<input type="password"  id="password" th:field="*{resetPwd}" name="password"  placeholder="Introduce contraseña" required autocomplete="new-password" style="height:34px;width: 40%;margin-top:8px;">
							<i class="bi bi-eye-slash" id="togglePassword" style="padding:15px;"></i>
						</div>
					</div>					
					<small id="emailHelp" class="form-text text-muted">Todos los campos son obligatorios</small>
					

			</div>
			<button type="submit" class="btn btn-primary"
				style="margin-left: 460px; margin-top: 20px;">Aceptar</button>
			</form>
			<h4 th:inline="text" th:text="${error1}" style="color:red; margin-top:2%;margin-left:35%;"></h4>
			<h4 th:inline="text" th:text="${error2}" style="color:red; margin-top:2%;margin-left:35%;"></h4>
			
<!-- 		     <label th:text = "${error1}"/> -->
<!-- 		     <label th:text = "${error2}"/> -->
		</div>
	</div>
	</div>
	<!-- //gallery -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="clearfix"></div>
			<div class="w3agile_footer_copy">
				<p>
					© 2017 Dine. All rights reserved | Design by <a
						href="http://w3layouts.com/" target="_blank">W3layouts.</a>
				</p>
			</div>
		</div>
	</div>
	<script>
	const togglePassword = document.querySelector('#togglePasswordOri');
	const password = document.querySelector('#password-field');
	
	togglePassword.addEventListener('click', function (e) {
	    // toggle the type attribute
	    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
	    password.setAttribute('type', type);
	    // toggle the eye / eye slash icon
	    this.classList.toggle('bi-eye');
	});
	</script>
	<script>
	const togglePassword2 = document.querySelector('#togglePassword');
	const password2 = document.querySelector('#password');
	
	togglePassword2.addEventListener('click', function (e) {
		
	    // toggle the type attribute
	    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
	    password2.setAttribute('type', type);
	    // toggle the eye / eye slash icon
	    this.classList.toggle('bi-eye');
	});
	</script>
	<script>
		$('.navicon').on('click', function(e) {
			e.preventDefault();
			$(this).toggleClass('navicon--active');
			$('.toggle').toggleClass('toggle--active');
		});
	</script>
	<script>
		$(document).ready(
				function() {
					if (location.hash) {
						$("a[href='" + location.hash + "']").tab("show");
					}
					$(document.body).on("click", "a[data-toggle='tab']",
							function(event) {
								location.hash = this.getAttribute("href");
							});
				});
		$(window).on(
				"popstate",
				function() {
					var anchor = location.hash
							|| $("a[data-toggle='tab']").first().attr("href");
					$("a[href='" + anchor + "']").tab("show");
				});
	</script>
	<script>
		$(document).ready(function() {
			$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
				localStorage.setItem('activeTab', $(e.target).attr('href'));
			});
			var activeTab = localStorage.getItem('activeTab');
			if (activeTab) {
				$('#myTab a[href="' + activeTab + '"]').tab('show');
			}
		});
	</script>
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/jarallax.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed : 0.5,
			imgWidth : 1366,
			imgHeight : 768
		})
	</script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop : $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
	<script>
		$(document).ready(
				function() {
					// Open modal on page load
					$("#myModal").modal('show');
					// Close modal on button click
					$(".btn").click(function() {
						$("#modal1").modal('hide');
					});
					$("#myTable")
							.on(
									"click",
									"tr",
									function(e) {
										var headerPopUp = $(e.currentTarget)
												.children(":nth-child(2)")
												.text();
										$("#orderModal .modal-title").text(
												headerPopUp);
									});

				});
	</script>
	<script>
		$(function() {
			$('#orderModal').modal({
				keyboard : true,
				backdrop : "static",
				show : false,

			}).on(
					'show',
					function() { //subscribe to show method
						var getIdFromRow = $(event.target).closest('tr').data(
								'id'); //get the id from tr
						//make your ajax call populate items or what even you need
						$(this).find('#orderDetails').html(
								$('<b> Order Id selected: ' + getIdFromRow
										+ '</b>'))
					});
		});
	</script>
	<script>
		var globalModal = $('.global-modal');
		$(".btn-green-flat-trigger").on("click", function(e) {
			e.preventDefault();
			$(globalModal).toggleClass('global-modal-show');
		});
		$(".overlay").on("click", function() {
			$(globalModal).toggleClass('global-modal-show');
		});
		$(".global-modal_close").on("click", function() {
			$(globalModal).toggleClass('global-modal-show');
		});
		$(".mobile-close").on("click", function() {
			$(globalModal).toggleClass('global-modal-show');
		});
	</script>
	<script>
		$('#myTable').bootstrapTable({
			onClickRow : function(row, $element) {
				// row: the record corresponding to the clicked row, 
				// $element: the tr element.

				var address = [];
				$(this).closest('tr').find('td').not(':last').each(function() {
					var textval = $(this).text(); // this will be the text of each <td>
					address.push(textval);
				});
				alert(address.join('\n'));
			}
		});
	</script>

	<script>
		function actionFormatter(index, row) {
			var html = []
			$
					.each(
							row,
							function(key, value) {
								if (key == 'id') {
									html
											.push('<a class="edit" href="?edit='
													+ value
													+ '" title="edit"><i class="fa fa-edit"></i></a>')
									html
											.push('<a class="remove" href="?remove='
													+ value
													+ '" title="Remove"><i class="fa fa-edit"></i></a>')
								}
							})
			return html.join('')
		}
	</script>

	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.js"></script>
</body>
</html>