<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
<title>EditorNutriApp</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../../../../../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="../../../../../css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="../../../../../css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons --> 
<link rel="stylesheet" href="../../../../../css/smoothbox.css" type='text/css' media="all" /> 
<!-- //Custom Theme files --> 

<!-- js -->
<script src="../../../../../js/jquery-2.2.3.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- //js -->

<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<!-- //web-fonts -->
</head>

<body> 
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">NutriApp</a></h1>
				</div> 
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text w3labout-bnr"> 
			<div class="container">  
				<h2 style="color:#000000">Consumidor</h2>   
			</div>
		</div>
		<!-- //banner-text -->
	</div>
	<!-- //banner -->   
	<!-- gallery -->
	<div class="about gallery">
		<div class="container">  
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" style="background-color:#ffffff;font-size:1.5em;">
			  	<li class="breadcrumb-item"><a th:href="@{/index}">Página principal</a></li>
			  	<li class="breadcrumb-item">
			  		<a th:href="@{'/client/' + ${id_local}}">Escoger fecha del menú</a>
			  	</li>
			  	<li class="breadcrumb-item">
			  		<a th:href="@{'/client/' + ${id_local} + '/' + ${date}}">Escoger menú</a>
			  	</li>
<!-- 			    <li class="breadcrumb-item active">Escoger menú</li> -->
<!-- 			    <li class="breadcrumb-item"><a th:href="@{${session.path}}">Escoger menú</a></li> -->
			    <li class="breadcrumb-item active">Escoger componentes o alérgenos</li>
			  </ol>
			</nav>
           	<div class="botonesEdicion" style="margin-left:40%;margin-top:60px;" >
                <a th:href="@{'/client/ComponentesMenu/' + ${id_menu} + '/' + ${id_local}}" class="btn btn-info btn-lg" style="background-color: #3c89d0;border-color:#3c89d0;color:#ffffff;font-size:2.5rem;">Componentes</a>
            	<a th:href="@{'/client/AlergenosMenu/' + ${id_menu} + '/' + ${id_local}}" class="btn btn-info btn-lg" style="margin-left:20px;background-color: #c38452;border-color:#c38452;color:#ffffff;font-size:2.5rem;">Alérgenos</a>
            </div>
		</div>
	</div>
	<!-- //gallery -->  
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="clearfix"> </div>
			<div class="w3agile_footer_copy">
				<p>© 2017 Dine. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts.</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->  
	<!-- menu-js -->
	<script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 
	<!-- //menu-js -->
	<!-- jarallax -->  
	<script src="js/SmoothScroll.min.js"></script> 
	<script src="js/jarallax.js"></script> 
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>  
	<!-- //jarallax --> 
	<!-- start-smooth-scrolling --> 
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	 
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	</script>
	<script>
    $(document).ready(function(){
        // Open modal on page load
        $("#myModal").modal('show');
        // Close modal on button click
        $(".btn").click(function(){
            $("#modal1").modal('hide');
        });
    });
	</script>
	<script>
	$(function(){
	    $('#orderModal').modal({
	        keyboard: true,
	        backdrop: "static",
	        show:false,

	    }).on('show', function(){ //subscribe to show method
	          var getIdFromRow = $(event.target).closest('tr').data('id'); //get the id from tr
	        //make your ajax call populate items or what even you need
	        $(this).find('#orderDetails').html($('<b> Order Id selected: ' + getIdFromRow  + '</b>'))
	    });
	});
	</script>
	<script>
	var globalModal = $('.global-modal');
    $( ".btn-green-flat-trigger" ).on( "click", function(e) {
      e.preventDefault();
      $( globalModal ).toggleClass('global-modal-show');
    });
    $( ".overlay" ).on( "click", function() {
      $( globalModal ).toggleClass('global-modal-show');
    });
    $( ".global-modal_close" ).on( "click", function() {
      $( globalModal ).toggleClass('global-modal-show');
    });
    $(".mobile-close").on("click", function(){
      $( globalModal ).toggleClass('global-modal-show');
    });
	</script>
	<script>
	$('#myTable').bootstrapTable({
	    onClickRow: function (row, $element) {
	        // row: the record corresponding to the clicked row, 
	        // $element: the tr element.
	        
	        var address = [];
	        $(this).closest('tr').find('td').not(':last').each(function() {
	            var textval = $(this).text(); // this will be the text of each <td>
	           address.push(textval);
	       });
	        alert(address.join('\n'));
	    }
	});
	</script>

	<!-- //smooth-scrolling-of-move-up -->  		
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>