<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
<title>EditorNutriApp</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../../../../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="../../../../css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="../../../../css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons --> 
<link rel="stylesheet" href="../../../../css/smoothbox.css" type='text/css' media="all" /> 
<!-- //Custom Theme files --> 

<!-- js -->
<script src="../../../../js/jquery-2.2.3.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- //js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style>
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}
</style>
</head>

<body> 
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">NutriApp</a></h1>
				</div> 
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text w3labout-bnr"> 
			<div class="container">  
				<h2 style="color:#000000">Consumidor</h2>   
			</div>
		</div>
		<!-- //banner-text -->
	</div>
	<!-- //banner -->   
	<!-- gallery -->
	<div class="about gallery">
		<div class="container">  
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb" style="background-color:#ffffff;font-size:1.5em;">
				  	<li class="breadcrumb-item">
				  		<a th:href="@{/index}">Página principal</a>
				  	</li>
				  	<li class="breadcrumb-item">
				  		<a th:href="@{'/client/' + ${id_local}}">Escoger fecha del menú</a>
				  	</li>
				    <li class="breadcrumb-item">
				    	<a th:href="@{'/client/' + ${id_local} + '/' + ${date}}">Escoger menú</a>
				    </li>
				    <li class="breadcrumb-item"><a th:href="@{'/client/chooseAlergensComponents/' + ${id_local} + '/' + ${date} + '/' + ${id_menu} + '/'}">Escoger componentes o alérgenos</a></li>
				    <li class="breadcrumb-item">
				    	<a th:href="@{'/client/escoger_platos_menu_grupal_componentes/' + ${id_menu} + '/' + ${id_local}}">Escoger platos menú grupal</a>
				    </li>
				  	<li class="breadcrumb-item active">Información nutricional del menú</li>
				  
				  </ol>
				</nav>
				<label for="exampleInputEmail1" th:text="${menuName}" style="font-size: 2em;margin-bottom: 40px;margin-top: 30px;"></label>
				
				<ul class="nav nav-tabs" role="tablist" id="myTab">
				  <li role ="presentation"  class="nav-item" >
				    <a href="#seccion1" data-toggle="tab" role="tab" class="nav-link active">Gráfico</a>
				  </li>
				  <li role ="presentation" class="nav-item">
				  	<a href="#seccion2" data-toggle="tab" role="tab"class="nav-link">Etiqueta
						alimentaria</a>
				  </li>
				  <li role ="presentation" class="nav-item">
				  	<a href="#seccion3" data-toggle="tab" role="tab"class="nav-link">Vitaminas y
						minerales</a>
				  </li>
				</ul>	
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="seccion1">
						<h3 style="font-weight: 700;margin-bottom:50px;margin-top:30px;">Porcentajes sobre el total de energía</h3>
					    <div id="container" style="margin-bottom:40px;"></div>
					    <figure class="highcharts-figure">
					    	<div id="container"></div>
						</figure>
						<h4 style="margin-top: 30px;">Se recomienda una dieta variada y equilibrada y un estilo de vida saludable.</h4>
					</div>
					<div role="tabpanel" class="tab-pane " id="seccion2">
						<div class="row"
							style="display: flex; justify-content: center; padding: 0px 150px;">
							<!-- 							<div style="width:40%;display:flex;justify-content:center;"> -->
							<table class="table" style="margin-top: 30px;font-size:10px;">
	
								<thead>
									<tr>
										<th scope="col">Nombre componente</th>
										<th scope="col" style="width: 30%;">Cantidad de la ración</th>
										<th scope="col" style="width: 30%;">Ingesta de referencia*</th>
									</tr>
								</thead>
								<tbody id="completeTable">
									<tr th:each="componente: ${listComponentsDish}">
										<td th:text="${componente.component}" style="font-weight:700;">Grupo componente</td>
										<td th:text="${componente.amount}" style="width: 30%;">Nombre componente</td>
										<td th:text="${componente.recomendedAmount}" style="width: 30%;">Ingesta de referencia</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					
						<label for="exampleInputEmail1" th:text="${name_menu}" style="font-size: 2em;margin-bottom: 30px;margin-top: 0px;"></label>
						<h4 style="margin-top: 30px;">* Ingesta de referencia de un
							adulto medio (8 400 kJ/ 2 000 kcal)</h4>
						<h4 style="margin-top: 30px;">Estas ingestas de referencia están recogidas
							en el Reglamento 1169/2011 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de
							25 de octubre de 2011 sobre la información alimentaria facilitada
							al consumidor.</h4>
						<h4 style="margin-top: 30px;">** Dato obtenido de EFSA (Autoridad Europea de Seguridad Alimentaria)</h4>
						
						

					</div>
					<div role="tabpanel" class="tab-pane " id="seccion3">
						<label for="exampleInputEmail1" th:text="${name_menu}" style="font-size: 2em;margin-bottom: 30px;margin-top: 0px;"></label>

						<div class ="row">
						<h4 style="margin-top:20px;font-size:1.8em;margin-bottom:20px;">Vitaminas</h4>
							<table class="table" style = "margin-top:0px;background-color:#95F59A;">
								
							  <thead>
							    <tr >
								  <th scope="col">Grupo componente</th>
							      <th scope="col">Nombre componente</th>
							      <th scope="col">Cantidad </th>
							      <th scope="col" style="width: 20%;">Cantidad recomendada</th>
							      <th scope="col">Unidad</th>
							    </tr>
							  </thead>
							  <tbody id="myTable">
							    <tr th:each="componente: ${componentsDishTableVitaminas}">
				                    <td th:text="${componente.groupComponent}">Grupo componente</td>
				                    <td th:text="${componente.nameComponent}">Nombre componente</td>
				                    <td th:text="${componente.amount}">Cantidad</td>
				                    <td th:text="${componente.recomendedAmount}">Cantidad recomendada</td>
				                    <td th:text="${componente.unit}">Unidad</td>
							    </tr>
							  </tbody>
							</table>
						</div>
						
						<div class ="row">
						<h4 style="margin-top:20px;font-size:1.8em;margin-bottom:20px;">Minerales</h4>
							<table class="table" style = "margin-top:30px;background-color:#F1C7FF;">
								
							  <thead>
							    <tr >
								  <th scope="col">Grupo componente</th>
							      <th scope="col">Nombre componente</th>
							      <th scope="col">Cantidad </th>
							      <th scope="col" style="width: 20%;">Cantidad recomendada</th>
							      <th scope="col">Unidad</th>
							    </tr>
							  </thead>
							  <tbody id="myTable">
							    <tr th:each="componente: ${componentsDishTableMinerales}">
				                    <td th:text="${componente.groupComponent}">Grupo componente</td>
				                    <td th:text="${componente.nameComponent}">Nombre componente</td>
				                    <td th:text="${componente.amount}">Cantidad</td>
				                    <td th:text="${componente.recomendedAmount}">Cantidad recomendada</td>
				                    <td th:text="${componente.unit}">Unidad</td>
							    </tr>
							  </tbody>
							</table>
						</div>

					</div>
				
			</div>
				
					

		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="clearfix"> </div>
			<div class="w3agile_footer_copy">
				<p>© 2017 Dine. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts.</a></p>
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function(){
	    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
	        localStorage.setItem('activeTab', $(e.target).attr('href'));
	    });
	    var activeTab = localStorage.getItem('activeTab');
	    if(activeTab){
	        $('#myTab a[href="' + activeTab + '"]').tab('show');
	    }
	});
	</script>
	<script>
	$(document).ready(function() {
	    if (location.hash) {
	        $("a[href='" + location.hash + "']").tab("show");
	    }
	    $(document.body).on("click", "a[data-toggle='tab']", function(event) {
	        location.hash = this.getAttribute("href");
	    });
	});
	$(window).on("popstate", function() {
	    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
	    $("a[href='" + anchor + "']").tab("show");
	});
	</script>
	<script src="js/SmoothScroll.min.js"></script> 
	<script src="js/jarallax.js"></script> 
		<script>
	$("#completeTable td:nth-child(1)").each( function(x){
	     const texto = this.innerHTML;
	     switch(texto) {
	        case "Proximales":
	           color = "#9DC4E0" ;
	           break;
	        case "Grasas":
		           color = "#FADB44" ;
		           break;
	        case "Colesterol":
		           color = "#FADB44" ;
		           break;
	        case "Grasas saturadas":
		           color = "#FADB44" ;
		           break;
	        case "Grasas monoinsaturada":
		           color = "#FADB44" ;
		           break;
	        case "Grasas trans":
		           color = "#FADB44" ;
		           break;		
	        case "Grasas poliinsaturada":
		           color = "#FADB44" ;
		           break;
		           
	        case "de las cuales saturadas":
		           color = "#FADB44" ;
		           break;
	        case "Valor energético":
		           color = "#E0E0E0" ;
		           break;		
	        case "Fibra":
		           color = "#CCFF99" ;
		           break;			           
	        case "Hidratos de Carbono":
		           color = "#FAB8AA" ;
		           break;
	        case "de los cuales azúcares":
		           color = "#FAB8AA" ;
		           break;		   
	        case "Proteínas":
		           color = "#99CCFF" ;
		           break;			           
	        case "Vitaminas":
		           color = "#95F59A" ;
		           break;
	        case "Minerales":
		           color = "#F1C7FF" ;
		           break; 
	        case "Sal":
		           color = "#FCE4CA" ;
		           break;  		           
		    default:
		    		color ="#ffffff"
	     }
	     $(this.parentNode).attr("style","background-color:"+color)
	})
	</script>
	<script type="text/javascript">
	
	var porcentajeProteinas = "[[${porcentajeProteinas}]]";
	var porcentajeHC = "[[${porcentajeHC}]]";
	var porcentajeFibra = "[[${porcentajeFibra}]]";
	var porcentajeGrasas = "[[${porcentajeGrasas}]]";
	var porcentajeSal = "[[${porcentajeSal}]]";

	Highcharts.chart('container', {
	    chart: {
	        plotBackgroundColor: null,
	        plotBorderWidth: null,
	        plotShadow: false,
	        type: 'pie'
	    },
	    title: {
	        text: ''
	    },
	    tooltip: {
	        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	    },
	    accessibility: {
	        point: {
	            valueSuffix: '%'
	        }
	    },
	    plotOptions: {
	        pie: {
	            allowPointSelect: true,
	            cursor: 'pointer',
	            dataLabels: {
	                enabled: true,
	                format: '<b>{point.name}</b>: {point.percentage:.2f} %'
	            }
	        }
	    },
	    series: [{
	        name: 'Macronutriente',
	        colorByPoint: true,
	        data: 
	        	[
			        {
			            name: 'Proteína',
			            y: parseFloat(porcentajeProteinas)
			        }, {
			            name: 'Grasas',
			            y: parseFloat(porcentajeGrasas)
			        }, {
			            name: 'Hidratos de Carbono',
			            y: parseFloat(porcentajeHC)
			        }, {
			            name: 'Fibra',
			            y: parseFloat(porcentajeFibra)
			        }, {
			            name: 'Sal',
			            y: parseFloat(porcentajeSal)
			        }
	        	]
	    }]
	});
	</script>
    <script src="../../../../js/bootstrap.js"></script>
</body>
</html>